# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/

# testing
/coverage

# production
/build

# misc
*.local
*.log

### JetBrains template
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
# File-based project format
*.iws

